{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Изменение пароля</h1>

<form class="container-fluid mt-5" method="POST" style="max-width: 20rem;" >
    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control" id="nowPassword" name="nowPassword" placeholder="nowPassword" required>
        <label for="nowPassword">Текущий пароль</label>
    </div>

    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control {% if password_error_list %}is-invalid{% endif %}" id="newPassword" name="newPassword" placeholder="newPassword" required>
        <label for="newPassword">Новый Пароль</label>
        <div id="validationServerUsernameFeedback1" class="invalid-feedback">
            {% if password_error_list != None %}
              {% for error in password_error_list %}
                {{ error }}
              {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="form-floating mb-3">
        <input autocomplete="off" type="password" class="form-control {% if password_error_list %}is-invalid{% endif %}" id="repeatPassword" name="repeatPassword" placeholder="repeatPassword" required>
        <label for="newPassword">Повторите новый пароль</label>
    </div>



    <button type="submit" class="btn btn-primary w-100"> Изменить пароль </button>

</form>


{% endblock %}