{% extends 'base.html' %}
{# from 'pagination.html' import render_pagination #}

{% block content %}
<div class="container">

    <div class="courses-list container-fluid mt-3 mb-3">
        {% for book in books %}
            <div class="row p-3 border rounded mb-3" data-url="{# url_for('courses.show', course_id=course.id) #}">
                <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                    <div class="course-logo" style="background-image: url({# course.bg_image.url #});">
                    </div>
                </div>
                <div class="col-md-9 align-items-center">
                    <div class="d-flex">
                        <h4 class="text-uppercase">{{ book.name }}</h4>
                        <p class="ms-auto rating">
                            <span>★</span> <span>{#  #}</span>
                        </p> 
                        
                    </div>
                    <p class="text-muted my-3"> Автор: {{ book.author }}</p>
                    <p class="text-muted my-3"> Год: {{ book.year }}</p>
                    <p class="text-muted my-3"> Жанр: {#  #}</p>
                    
                </div>
            </div>
        {% endfor %}
    </div>

    {% if current_user.is_authenticated %}
        <div class="text-center my-3">
            <a class="btn btn-lg btn-dark" href="{# url_for('courses.new') #}">Добавить книгу</a>
        </div>
    {% endif %}


</div>
{% endblock %}