<!-- Наследуем от базового шаблона приложения путь относительно директории templates  -->
{% extends 'base.html' %}

{% block content %}

<h1 class="my-3 text-center">Статистика действий пользователей</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if request.endpoin == 'visits.logs' %}active{% endif %}" aria-current="page" href="{{ url_for('visits.logs') }}">Журнал посещений</a>
    </li>
    <li class="nav-item">
      {% if current_user.can('assign_role', record=user) %}
      <a class="nav-link {% if request.endpoin == 'visits.pages_stat' %}active{% endif %}" href="{{ url_for('visits.pages_stat') }}">Статистика по страницам</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if current_user.can('assign_role', record=user) %}
      <a class="nav-link {% if request.endpoin == 'visits.users_stat' %}active{% endif %}" href="{{ url_for('visits.users_stat') }}">Cтатистика по пользователям</a>
      {% endif %}
    </li>
</ul>

<div class="mt-5">
    {% block tab_content %}

    {% endblock %}  
</div>

{% endblock %}