{% extends 'visits/base.html' %}

<!-- Содержимое первой вкладки  -->
{% block tab_content %}

<h2>Журнал посежений</h2>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Пользователь</th>
            <th>Страница</th>
            <th>Дата</th>
        </tr>
    </thead>

    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    {% if record.user_id %}
                        {{ record.last_name }} {{ record.first_name }} {{ record.middle_name or '' }}
                    {% else %}
                        Неаутентифицированный пользователь
                    {% endif %}
                </td>
                <td>{{ record.path }}</td>
                <!-- strftime метод преобразование даты и времени -->
                <td>{{ record.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}