<!-- Наследование шаблона и создание нового -->
{% extends 'base.html' %} {% block content %}
<!-- Заголовок поста -->
<h1 class="my-2">{{ title }}</h1>
<!-- Информация об авторе поста и дата -->
<p>{{post.author}}, {{post.date}}</p>
<img
    src="/static/images/{{post.image_id}}"
    alt="{{title}}"
    height="500px"
    class="rounded mx-auto d-block"
/>
<!-- Текс поста -->
<p class="mt-3 text-xl-start">{{post.text}}</p>
<!-- форма «Оставьте комментарий» с полем для ввода текста и кнопкой «Отправить», -->
<div class="card">
    <div class="card-header">Оставьте комментарий</div>
    <form action="/posts/{{index}}" class=" card-body" method="post">
        <div class="mb-3 card-text">
            <!-- Поле ввода текса c обязательным заполнением(чтобы нельзя было отправить пустые коментарии) -->
            <textarea
                class="form-control"
                style="height: 100px"
                name="comment"
                required
            ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<!-- Комментарии и ответы на них. -->
<div class="mt-3">
    <!--  -->
    {% for comment in post.comments %}
    <!-- Аватарка  -->
    <div class="d-flex justify-content-start py-2">
            <img
                src="https://i.pinimg.com/474x/6e/54/a9/6e54a94bc9a87dc97d05aa1dca17154c.jpg"
                alt={{comment.author}}
                style="border-radius: 100%;"
                height="50px"
            />
        <div style="margin-left: 10px;">
            <!-- Автор коментf -->
            {{comment.author}}<br />
            <p>{{comment.text}}</p>
            {% if comment.replies %}
                {% for comment in comment.replies %}
                <div class="d-flex justify-content-start py-2" style="margin-left: 25px;">
                    <img
                    src="https://i.pinimg.com/474x/6e/54/a9/6e54a94bc9a87dc97d05aa1dca17154c.jpg"
                    alt={{comment.author}}
                    style="border-radius: 50%;"
                    height="50px"
                />
                <div style="margin-left: 10px;">
                        {{comment.author}}<br/>
                        {{comment.text}}<br/>
                        </div>
                </div>
                    {% endfor %}
            {% endif %}
        </div>
    
    </div>
    {% endfor %}
</div>
{% endblock %}